@import '/libraries/nimiq-style/nimiq-style.css';
@import '/secure-elements/x-router/x-router.css';
@import '/secure-elements/x-loading-animation/x-loading-animation.css';
@import '/secure-elements/x-passphrase-setter/x-passphrase-setter.css';
@import '/secure-elements/x-mnemonic-input/x-mnemonic-input.css';
@import '/secure-elements/x-mnemonic-phrase/x-mnemonic-phrase.css';
@import '/secure-elements/x-validate-words/x-validate-words.css';
@import '/secure-elements/x-privacy-agent/x-privacy-agent.css';
@import '/secure-elements/nimiq-logo/nimiq-logo.css';
@import '/secure-elements/x-account-backup-import/x-account-backup-import.css';
@import '/secure-elements/x-loader/x-loader.css';
@import '/secure-elements/x-pinpad/x-pinpad.css';
@import './common-elements/x-account.css';
@import './common-elements/x-authenticate.css';
@import './common-elements/x-download-file.css';
@import './common-elements/x-set-label.css';
@import './common-elements/x-show-words.css';
@import 'common-elements/x-identicons/x-identicons.css';
@import './requests/sign-safe/x-sign-safe.css';
@import './requests/sign-wallet/x-sign-wallet.css';
@import '/secure-elements/x-dot-loader/x-dot-loader.css';

.header-top {
    width: 100%;
    padding: 1em 1.8em;
    overflow: auto;
}

@media (max-width: 480px) {
    .header-top {
        width: auto;
        padding: 1em 0.5em;
    }

    .header-top nimiq-logo {
        width: auto;
    }
}

.nimiq-app-name {
    background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 608 64"><defs><style>.cls-1{fill:url(#radial-gradient);}.cls-2{fill:#fff;}</style><radialGradient id="radial-gradient" cx="54.17" cy="63.17" r="72.02" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ec991c"/><stop offset="1" stop-color="#e9b213"/></radialGradient></defs><title>nimiq_keyguard</title><path class="cls-1" d="M71.2,29l-15-26A6,6,0,0,0,51,0H21a6,6,0,0,0-5.19,3L.8,29a6,6,0,0,0,0,6l15,26A6,6,0,0,0,21,64H51a6,6,0,0,0,5.19-3l15-26A6,6,0,0,0,71.2,29Z"/><path class="cls-2" d="M126,12.55h4.21V51h-3.46L103.54,20.06V51H99.38V12.55h3.4L126,43.49Z"/><path class="cls-2" d="M144,51V12.55h4.43V51Z"/><path class="cls-2" d="M194.9,12.55h3.67V51h-4.1V22.43L182,51h-3.14L166.28,22.65,166.34,51h-4.11V12.55h3.67l14.58,33.16Z"/><path class="cls-2" d="M212.4,51V12.55h4.43V51Z"/><path class="cls-2" d="M260.19,58.51l-3.08,2.8a29.44,29.44,0,0,1-4.54-4.4,37.49,37.49,0,0,1-3.94-5.59c-.79.08-1.42.11-1.89.11a17.7,17.7,0,0,1-9.29-2.37,15.68,15.68,0,0,1-6.07-6.83,24,24,0,0,1-2.13-10.45,24.25,24.25,0,0,1,2.1-10.48,15.49,15.49,0,0,1,6.05-6.8,19.52,19.52,0,0,1,18.68,0,15.43,15.43,0,0,1,6.05,6.8,24,24,0,0,1,2.11,10.42,22.89,22.89,0,0,1-2.89,11.91,15.28,15.28,0,0,1-8.13,6.72A30.14,30.14,0,0,0,260.19,58.51Zm-23-15q3.4,4.17,9.56,4.16t9.51-4.16q3.39-4.16,3.4-11.77T256.27,20q-3.37-4.1-9.53-4.1T237.18,20q-3.39,4.14-3.4,11.69T237.18,43.49Z"/><path class="cls-2" d="M327.85,51h-8.53L301.44,33V51h-7V12.55h7V29.78l17.17-17.23H327L308.3,31Z"/><path class="cls-2" d="M353.55,37.72H334.76q.21,4.37,2.19,6.45t5.86,2.08a13.41,13.41,0,0,0,8.31-2.92L353.07,48a15.33,15.33,0,0,1-4.78,2.51,18.08,18.08,0,0,1-5.75.94q-6.71,0-10.53-3.78t-3.84-10.36a15.82,15.82,0,0,1,1.68-7.4,12.31,12.31,0,0,1,4.69-5.05A13.09,13.09,0,0,1,341.4,23a11.33,11.33,0,0,1,8.89,3.64q3.25,3.64,3.26,10Zm-16.39-8.24A7.79,7.79,0,0,0,335,34.1h12.69a7.54,7.54,0,0,0-1.87-4.64,5.64,5.64,0,0,0-4.24-1.57A6.19,6.19,0,0,0,337.16,29.48Z"/><path class="cls-2" d="M384.6,23.73,371.91,52.84a16.49,16.49,0,0,1-5.51,7.39,19.38,19.38,0,0,1-8.26,3.08l-1.51-5.18a17,17,0,0,0,5.75-2.19A9.4,9.4,0,0,0,365.49,52l.86-2L355,23.73h7.07l7.83,19.6,8-19.6Z"/><path class="cls-2" d="M414,23.73V50.14c0,4.24-1.17,7.47-3.51,9.66s-5.78,3.3-10.31,3.3A22.73,22.73,0,0,1,389,60.45l1.08-5.13A21.19,21.19,0,0,0,400,57.91q7.29,0,7.29-7.23v-5.4a9.57,9.57,0,0,1-3.61,3.59,10.47,10.47,0,0,1-5.35,1.37,11.88,11.88,0,0,1-6.35-1.7,11.45,11.45,0,0,1-4.32-4.8,15.87,15.87,0,0,1-1.53-7.1,15.84,15.84,0,0,1,1.53-7.1A11.48,11.48,0,0,1,392,24.73a12,12,0,0,1,6.35-1.7,11.07,11.07,0,0,1,5.37,1.27,8.67,8.67,0,0,1,3.59,3.53v-4.1Zm-8.61,19a9.06,9.06,0,0,0,1.91-6.1,9.07,9.07,0,0,0-1.89-6.1,7.38,7.38,0,0,0-10.55,0,9,9,0,0,0-1.92,6.1,9,9,0,0,0,1.92,6.1,7.38,7.38,0,0,0,10.53,0Z"/><path class="cls-2" d="M446.11,23.73V51h-6.59V46.79a8.83,8.83,0,0,1-3.46,3.45,10,10,0,0,1-5,1.19q-10,0-10-11.23V23.73h6.69V40.25A6.6,6.6,0,0,0,429,44.63a4.71,4.71,0,0,0,3.75,1.4,6.15,6.15,0,0,0,4.75-1.94,7.38,7.38,0,0,0,1.78-5.19V23.73Z"/><path class="cls-2" d="M479.53,23.73V51h-6.64V46.63a8.71,8.71,0,0,1-3.56,3.53A10.84,10.84,0,0,1,464,51.43a11.63,11.63,0,0,1-6.32-1.72,11.44,11.44,0,0,1-4.27-4.92,17,17,0,0,1-1.51-7.4,17.3,17.3,0,0,1,1.54-7.48,12,12,0,0,1,4.29-5.07A11.13,11.13,0,0,1,464,23a10.84,10.84,0,0,1,5.29,1.27,8.71,8.71,0,0,1,3.56,3.53v-4.1Zm-8.47,20.09a10.33,10.33,0,0,0,1.83-6.53c0-2.89-.61-5.1-1.83-6.65a6.33,6.33,0,0,0-5.24-2.32,6.21,6.21,0,0,0-5.21,2.4,10.62,10.62,0,0,0-1.87,6.67q0,4.22,1.87,6.48a6.42,6.42,0,0,0,5.26,2.27A6.24,6.24,0,0,0,471.06,43.82Z"/><path class="cls-2" d="M504.26,23.51l-.05,6.16a9.33,9.33,0,0,0-3.56-.7,6.72,6.72,0,0,0-5.27,2,7.6,7.6,0,0,0-1.81,5.29V51h-6.69V31.45a63.42,63.42,0,0,0-.43-7.72h6.31l.54,4.81a8.12,8.12,0,0,1,3.24-4.05,9.17,9.17,0,0,1,5-1.41A7.7,7.7,0,0,1,504.26,23.51Z"/><path class="cls-2" d="M533.59,11.26V51H527V46.63a8.73,8.73,0,0,1-3.57,3.53,10.81,10.81,0,0,1-5.29,1.27,11.23,11.23,0,0,1-6.26-1.78,11.88,11.88,0,0,1-4.3-5A17.45,17.45,0,0,1,506,37.12a17.21,17.21,0,0,1,1.51-7.4A11.29,11.29,0,0,1,518.09,23a11,11,0,0,1,5.21,1.21,8.61,8.61,0,0,1,3.54,3.43V11.26Zm-8.51,32.56A10.32,10.32,0,0,0,527,37.23a10.44,10.44,0,0,0-1.84-6.59,6.26,6.26,0,0,0-5.19-2.32,6.4,6.4,0,0,0-5.26,2.3,10.07,10.07,0,0,0-1.86,6.5,10.51,10.51,0,0,0,1.86,6.64,6.23,6.23,0,0,0,5.21,2.38A6.3,6.3,0,0,0,525.08,43.82Z"/><path class="cls-2" d="M559.6,13.53a3.9,3.9,0,0,1,.71,2.37,3.67,3.67,0,0,1-1.37,3,6,6,0,0,1-3.83,1.1h-6.88V4.86h6.67a5.81,5.81,0,0,1,3.68,1,3.49,3.49,0,0,1,1.35,2.91,3.49,3.49,0,0,1-.63,2.08,3.58,3.58,0,0,1-1.74,1.29A3.74,3.74,0,0,1,559.6,13.53Zm-8.69-2.28h3.54c1.9,0,2.86-.71,2.86-2.13a1.89,1.89,0,0,0-.71-1.6A3.58,3.58,0,0,0,554.45,7h-3.54ZM557,17.37a2,2,0,0,0,.69-1.69A2.07,2.07,0,0,0,557,14a3.5,3.5,0,0,0-2.19-.56h-3.9v4.5h3.9A3.66,3.66,0,0,0,557,17.37Z"/><path class="cls-2" d="M565.06,20V4.86h10.15V7h-7.46v4.2h7V13.4h-7v4.46h7.46V20Z"/><path class="cls-2" d="M583.45,20V7.12h-4.94V4.86h12.68V7.12h-5V20Z"/><path class="cls-2" d="M604.93,20l-1.51-3.56H596L594.47,20H591.7l6.86-15.17h2.24L607.68,20Zm-8-5.69h5.58l-2.79-6.5Z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 230px;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    max-width: var(--max-width);
    min-height: calc(100vh - 60px);
    padding-bottom: 18px;
}

#app .x-route-container > * > * {
    flex-direction: column;
    align-items: center;
}

#app .x-route-container > * > * {
    flex-direction: column;
    align-items: center;
}

#app .x-route-container > * {
    flex-direction: column;
    align-items: center;
}

[x-route] {
    width: 100%;
    min-height: calc(100vh - 120px);
}

[x-route] [x-route] {
    min-height: unset;
    flex-grow: 1;
}

[x-route] > * {
    flex-shrink: 0;
}

/* make code blocks look like keys on the keyboard */
code {
    font-family: monospace;
    font-size: 15px;
    border: 1px solid white;
    padding: 2px 6px;
    border-radius: 5px;
}

.x-loading {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

/* h1 {
    margin-top: 56px;
} */

.pad-bottom {
    padding-bottom: 28px;
}

x-identicon {
    display: block;
    height: 140px;
    width: 140px;
}

.x-route-container {
    min-height: calc(100vh - 120px);
}

.warning {
    background-color: var(--warning-color);
    color: #3b3b3b;
    border-radius: 8px;
    padding: 15px;
}

.info-box {
    display: flex;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
}
.info-box .info-icon {
    background-image: url('data:image/svg+xml,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/></svg>');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}

.info-box .info-text {
    text-align: left;
}

.spacing-top-16 {
    margin-top: 16px;
}
